body{
    background: grey;
}
h1{
    color: teal;
}
h2{
    color:teal;
    text-align: center;
}
.text_adjust{
    color: white;
    font-size-adjust: 22;
}

.image{
    float: left;
}

@media (max-width: 600px) {
    .body{
        background-color: white;
    }
}